body {
    margin: 0 auto;
    background-color: #1f1f1f;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

.item {
    margin: 0 auto; 
    max-width: 1900px;
    /* padding: 10px 10px; */
}

.item__title {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;   
}

.item__wrapper {
    margin: 0 auto;
    width: 80%;
}

.item__wrapper img {
    margin: 0 auto;
    width: 100%;    
}

::-webkit-scrollbar {
    width: 10px; /* ширина для вертикального скролла */
    height: 10px; /* высота для горизонтального скролла */
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(31, 139, 201);
    border-radius: 10px;
}